<h1>Movie Look Up</h1>

<form action="/movie"> <!-- action = url -->
	<input type="text" name="title_input" placeholder="film name"> <!-- name attribute = params key -->
	<button>find me!</button>
</form> 