<h1>The houses</h1>
<div>
	<% @houses.each do |house| %>
	  <div class="house">
	    <a href="/houses/<%= house.id %>">
	   	 <img src="<%= house.img_url %>">
		</a>
		<h2><%= house.name %></h2>
	  <div>
	<% end %>
</div>